<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Consumo</title>

    <script>

        function check() {
            if (document.getElementById("tiempo").value <= 0) {
                alert("El tiempo debe ser mayor de 0");
                return false
            }
            return true
        }

    </script>
</head>
<body>
    <h1>Consumo</h1>

    <form id="frmConsumo" action="/consumo" method="post" onsubmit="return check()">
        <div>
            <label>Kilómetros (km): </label>
            <input type="number" step="0.01" id="kilometros" name="kilometros" required>
        </div>
        <div>
            <label>Tiempo (h): </label>
            <input type="number" step="0.01" id="tiempo" name="tiempo" required>
        </div>
        <div>
            <label>Consumo medio (L/km): </label>
            <input type="number" step="0.01" id="consumo" name="consumo" required>
        </div>
        <div>
            <input type="submit" value="Calcular">
        </div>
    </form>
</body>
</html>